name: Build & Test (PR)

on:
  pull_request:
    branches:
      - "**"

permissions:
  contents: read
  packages: read

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Setup Maven settings
        run: |
          mkdir -p ~/.m2
          echo "<settings>
                  <servers>
                    <server>
                      <id>github</id>
                      <username>${{ github.actor }}</username>
                      <password>${{ secrets.GH_FORGE_SECURITY_TOKEN }}</password>
                    </server>
                    <server>
                      <id>github-app-afesox</id>
                      <username>${{ github.actor }}</username>
                      <password>${{ secrets.GH_FORGE_SECURITY_TOKEN }}</password>
                    </server>
                  </servers>
                </settings>" > ~/.m2/settings.xml

      - name: Build with tests
        run: mvn -B -ntp clean install
